<div class="card mb-4 shadow-sm">
    <img *ngIf="project.image" class="bd-placeholder-img card-img-top" [src]="'' + project.image" width="100%">
    <svg class="bd-placeholder-img card-img-top" *ngIf="!project.image" height="50"><rect width="100%" height="100%" fill="#55595c"/></svg>
    <div class="card-body">
        <h5 class="card-text">{{project.description}}</h5>
        <p class="card-text"><i class="fa fa-map-marker-alt text-muted"></i> {{project.location}}</p>
        <p class="card-text"><i class="fa fa-calendar text-muted"></i> {{project.date}} {{project.time}}</p>
        <p class="card-text"><i class="fa fa-clock text-muted"></i> {{project.days}} days</p>
        <p class="card-text">Organized by: {{project.organisator.name}}</p>
        <p class="card-text">People needed: {{project.people}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#message">Take part!</button>
        </div>
    </div>
    <app-message></app-message>
</div>